/*------------------------------------------------------------------
    [Gold Color Theme]
------------------------------------------------------------------ */

a {
    color: $color-gold;

    &:focus,
    &:hover,
    &:active {
        color: $color-gold;
    }
}

h1, h2, h3, h4, h5, h6 {
    > a {

        &:hover {
            color: $color-gold;
        }
    }
}

/* Read More */
.read-more-op-b {
    &:hover {
        color: $color-gold;

        &:before {
            background: $color-gold;
        }
    }
}

/* Read More White */
.read-more-op-b {
    &.read-more-white-op-b {
        color: $color-white;

        &:before {
            background: $color-white;
        }
    }
}

/* Header One Page Business */

/* Navbar Toggle */
.op-b-header {
    .navbar-toggle {
        &:hover {
            .icon-bar {
                background: $color-gold;
            }
        }
    }
}

/* Language */
.op-b-header {
    .nav-language-list {
        border-color: rgba(198, 159, 115, .2);
    }

    .nav-language-list-link {
        color: $color-gold;
        @include bg-opacity($color-gold, 0);

        &:hover {
            @include bg-opacity($color-gold, .1);
        }

        &.active {
            @include bg-opacity($color-gold, .4);
        }
    }
}

/* Nav */
.op-b-header {
    .nav-item {
        .nav-item-child {
            &:hover,
            &:focus {
                color: $color-gold;

                &:before {
                    background: $color-gold;
                }
            }
        }
        
        &.active {
            .nav-item-child {
                color: $color-gold;

                &:before {
                    background: $color-gold;
                }

                &:hover,
                &:focus {
                    color: $color-gold;
                }
            }
        }
    }
}

/* Media Queries below 991px */
@media (max-width: $screen-sm-max) {
    /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
    .op-b-header {
        .nav-language-list {
            border-color: rgba(198, 159, 115, .4);
        }

        .nav-language-list-link {
            color: $color-gold;

            &:hover {
                @include bg-opacity($color-gold, .5);
            }


            &.active {
                @include bg-opacity($color-gold, .6);
            }
        }
    }

    /* Nav */
    .op-b-header {
        .nav-item {
            .nav-item-child {
                &:hover {
                    color: $color-gold;
                }
            }

            &.active {
                .nav-item-child {
                    color: $color-gold;

                    &:before {
                        background: $color-gold;
                    }

                    &:hover,
                    &:focus {
                        color: $color-gold;
                    }
                }
            }
        }
    }
}

/* Media Queries above 992px */
@media (min-width: $screen-md-min) {
    /* Navbar Logo */
    .header-shrink {
        &.op-b-header {
            .nav-item {
                .nav-item-child {
                    &:hover,
                    &:focus {
                        color: $color-gold;

                        &:before {
                            background: $color-gold;
                        }
                    }
                }

                &.active {
                    .nav-item-child {
                        color: $color-gold;

                        &:before {
                            background: $color-gold;
                        }

                        &:hover,
                        &:focus {
                            color: $color-gold;
                        }
                    }
                }
            }
        }

        &.op-b-header {
            .nav-language-list {
                border-color: rgba(198, 159, 115, .4);
            }

            .nav-language-list-link {
                color: $color-gold;

                &:hover {
                    @include bg-opacity($color-gold, .5);
                }

                &.active {
                    @include bg-opacity($color-gold, .6);
                }
            }
        }
    }
}


/* Header One Page Business White Semi Transparent */

/* Media Queries above 992px */
@media (min-width: $screen-md-min) {
    /* Shrink Language */
    .header-shrink {
        &.op-b-header {
            &.op-b-header-white-semi-transprent {
                .nav-language-list-link {
                    color: $color-gold;
                }
            }
        }
    }
}


/* Header One Page Business Dark Semi Transparent */

/* Language */
.op-b-header {
    &.op-b-header-dark-semi-transprent {
        .nav-language-list {
            border-color: rgba(198, 159, 115, 0.4);
        }

        .nav-language-list-link {
            &.active {
                @include bg-opacity($color-gold, .4);
            }
        }
    }
}

/* Media Queries above 992px */
@media (min-width: $screen-md-min) {
    /* Shrink Language */
    .header-shrink {
        &.op-b-header {
            &.op-b-header-dark-semi-transprent {
                .nav-language-list-link {
                    color: $color-gold;

                    &.active {
                        @include bg-opacity($color-gold, .4);
                    }
                }
            }
        }
    }
}


/* Header One Page Business White */
/* Media Queries above 992px */
@media (min-width: $screen-md-min) {
    /* Shrink Nav */
    .header-shrink {
        &.op-b-header {
            &.op-b-header-white {
                .nav-item {
                    .nav-item-child {
                        &:hover {
                            color: $color-gold;

                            &:before {
                                background: $color-gold;
                            }
                        }
                    }

                    &.active {
                        .nav-item-child {
                            color: $color-gold;

                            &:before {
                                background: $color-gold;
                            }

                            &:hover {
                                color: $color-gold;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Shrink Language */
    .header-shrink {
        &.op-b-header {
            &.op-b-header-white {
                .nav-language-list {
                    border-color: rgba(198, 159, 115, .4);
                }

                .nav-language-list-link {
                    color: $color-gold;

                    &.active {
                        @include bg-opacity($color-gold, .4);
                    }
                }
            }
        }
    }
}

/* Buttons Dropdown Default */
.btn-dropdown-group {
    &.open {
        .btn-dropdown-toggle {
            background: $color-gold;
        }
    }

    &:hover {
        .btn-dropdown-toggle {
            background: $color-gold;
        }
    }
}

/* Button Base Color */
.btn-green {
    @include buttons($color-gold, $color-white, transparent, $color-gold, 1px, transparent, $color-gold);

    .btn-base-element-xs {
        @include buttons-element(transparent, darken($color-gold, 4%), 4px 9px);
    }

    .btn-base-element-sm {
        @include buttons-element(transparent, darken($color-gold, 4%), 7px 11px);
    }

    .btn-base-element-md {
        @include buttons-element(transparent, darken($color-gold, 4%), 8px 13px);
    }

    .btn-base-element-lg {
        @include buttons-element(transparent, darken($color-gold, 4%), 10px 15px);
    }
}

/* Buttons Border Base Color */
.btn-green-brd {
    @include buttons($color-gold, $color-white, transparent, $color-gold, 1px, $color-gold, $color-gold);

    .btn-base-element-xs {
        @include buttons-element(transparent, darken($color-gold, 4%), 4px 9px);
    }

    .btn-base-element-sm {
        @include buttons-element(transparent, darken($color-gold, 4%), 7px 11px);
    }

    .btn-base-element-md {
        @include buttons-element(transparent, darken($color-gold, 4%), 8px 13px);
    }

    .btn-base-element-lg {
        @include buttons-element(transparent, darken($color-gold, 4%), 10px 15px);
    }
}

/* Button Background Base Color */
.btn-green-bg {
    @include buttons($color-white, $color-white, $color-gold, $color-gold-light, 1px, transparent, transparent);

    .btn-base-element-xs {
        @include buttons-element(darken($color-gold, 4%), transparent, 4px 9px);
    }

    .btn-base-element-sm {
        @include buttons-element(darken($color-gold, 4%), transparent, 7px 11px);
    }

    .btn-base-element-md {
        @include buttons-element(darken($color-gold, 4%), transparent, 8px 13px);
    }

    .btn-base-element-lg {
        @include buttons-element(darken($color-gold, 4%), transparent, 11px 15px);
    }
}

/* Background Color Green */
.bg-color-green {
    background: $color-gold !important;
}


/* Promo Block One Page Business v4 */
.op-b-promo-b-v4 {
    .op-b-promo-b-v4-no {
        color: $color-gold;
    }
}

/* Promo Block One Page Business v6 */
.op-b-promo-b-v6 {
    .op-b-promo-b-v6-media-player {
        &:hover {
            background: $color-gold;
        }
    }
}

/* Promo Block One Page Business v9 */
.op-b-promo-b-v9 {
    .op-b-promo-b-v9-subtitle {
        color: $color-gold;
    }
}

/* Promo Block One Page Business v13 */
.op-b-promo-b-v13 {
    .op-b-promo-b-v13-title {
        color: $color-gold;
    }

    .op-b-promo-b-v13-icon {
        &:hover {
            background: $color-gold !important;
        }
    }
}