/*------------------------------------------------------------------
    [Shop Info Block]
------------------------------------------------------------------*/

.sh-info-block {
	position: relative;
	padding: 25px;
	@include cubic-transition($delay: 0, $duration: 200ms, $property: (all));

	&:before,
    &:after {
        @include position(absolute, $top: 10px, $left: 10px, $right: 10px, $bottom: 10px);
        z-index: 2;
        content: " ";
        @include cubic-transition($delay: 0, $duration: 600ms, $property: (all));
    }

    &:before {
        border-top: 1px solid $color-gold;
        border-bottom: 1px solid $color-gold;
        @include transform-scale(0, 1);
    }

    &:after {
        border-left: 1px solid $color-gold;
        border-right: 1px solid $color-gold;
        @include transform-scale(1, 0);
    }

	&.sh-info-block-brd {
		background: $color-floral-white;

		&:before,
	    &:after {
	        @include transform-scale(1, 1);
	    }
	}

	.sh-info-icon {
		display: block;
		@include font($size: $font-size-36);
		color: $color-gold;
		margin-bottom: 15px;
	}

	&:hover {
		background: $color-floral-white;
		@include cubic-transition($delay: 0, $duration: 200ms, $property: (all));

		&:before,
        &:after {
            opacity: 1;
            @include transform-scale(1, 1);
            @include cubic-transition($delay: 0, $duration: 600ms, $property: (all));
        }
	}
}