/*
    [Teal Color Theme]

    CSS Color: #009688;
    CSS Color Light: #45b4a9;

    Sass Color: $color-teal;
    Sass Color Light: $color-teal-light;
*/

/*------------------------------------------------------------------
    [Shop Wrap Border]
------------------------------------------------------------------*/

.sh-wrap-brd {
    &:after {
        border-color: $color-teal;
    }
}


/*--------------------------------------------------
    [Shop Accordion]
----------------------------------------------------*/

.sh-accordion {
    .panel-title {
        > a {
            &:focus,
            &:hover {
                color: $color-teal;

                &:after {
                    color: $color-teal;
                }
            }
        }
    }
}


/*------------------------------------------------------------------
    [Shop Video]
------------------------------------------------------------------*/

.sh-video {
    &:hover {
        .sh-video-play-icon {
            color: $color-teal;
        }
    }
}


/*--------------------------------------------------
    [Shop Tab]
----------------------------------------------------*/

.sh-tab {
    .nav-tabs {
        > li {
            &:hover {
                > a {
                    color: $color-teal;
                }
            }

            &.active {
                > a {
                    color: $color-teal;
                    border-color: $color-teal;
                }
            }
        }
    }
}


/*------------------------------------------------------------------
    [Shop Form]
------------------------------------------------------------------*/

.sh-form-input {
    color: $color-teal;
    @include placeholder($color-teal);
}

/* Shop Form v2 */
.sh-form-v2 {
    .sh-form-v2-input {
        color: $color-teal;
        @include placeholder($color-teal);
    }

    .sh-form-v2-btn {
        color: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop Heading v1]
------------------------------------------------------------------*/

.sh-heading-v1 {
    .sh-heading-v1-subtitle {
        color: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop Sidebar List]
------------------------------------------------------------------*/

.sh-sidebar-list {
    .sh-sidebar-list-link {
        &:hover {
            &:after {
                color: $color-teal;
            }
        }
    }
}


/*------------------------------------------------------------------
    [Shop Related v1]
------------------------------------------------------------------*/

.sh-related-v1 {
    .sh-related-v1-category {
        &:hover {
            color: $color-teal;
        }
    }
}


/*------------------------------------------------------------------
    [Shop Info Block]
------------------------------------------------------------------*/

.sh-info-block {
    &:before {
        border-top-color: $color-teal;
        border-bottom-color: $color-teal;
    }

    &:after {
        border-left-color: $color-teal;
        border-right-color: $color-teal;
    }

    .sh-info-icon {
        color: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop News v1]
------------------------------------------------------------------*/

.sh-news-v1 {
    &:before {
        border-top-color: $color-teal;
        border-bottom-color: $color-teal;
    }

    &:after {
        border-left-color: $color-teal;
        border-right-color: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop Delivery]
------------------------------------------------------------------*/

.sh-delivery {
    .sh-delivery-no,
    .sh-delivery-title {
        color: $color-teal;
    }

    &:hover,
    &:focus {
        background: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop Clients v1]
------------------------------------------------------------------*/

.sh-clients-v1 {
    &:after {
        @include bg-opacity($color-teal, 0);
    }

    &:hover {
        &:after {
            @include bg-opacity($color-teal, .95);
        }
    }
}


/*--------------------------------------------------
    [Shop Payment Method]
----------------------------------------------------*/

.sh-checkout-payment {
    &.is-active {
        .sh-checkout-payment-method {
            color: $color-teal;
        }
    }
}


/*------------------------------------------------------------------
    [Shop Category v1]
------------------------------------------------------------------*/

.sh-category-v1 {
    .sh-category-link {
        border-bottom-color: $color-teal;
    }
}


/*--------------------------------------------------
    [Range Slider]
----------------------------------------------------*/

.slider {
    .slider-selection {
        background: $color-teal;
    }
    .slider-handle {
        background: $color-teal;
    }
}

/* Tooltip */
.slider {
    .tooltip-inner {
        background: $color-teal;
    }

    .tooltip {
        &.top {
            .tooltip-arrow {
                border-top-color: $color-teal;
            }
        }
    }
}


/*------------------------------------------------------------------
    [Newsletter Form]
------------------------------------------------------------------*/

.newsletter-popup {
    .newsletter-popup-close-btn-icon {
        &:hover {
            color: $color-teal;
        }
    }
}


/*------------------------------------------------------------------
    [Shop Product v1]
------------------------------------------------------------------*/

.sh-product-v1 {
    .sh-product-v1-price {
        color: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop Point]
------------------------------------------------------------------*/

.sh-point {
    .sh-point-single > a {
        background: $color-teal;
    }
}


/*------------------------------------------------------------------
    [Shop Header]
------------------------------------------------------------------*/

/* Navbar Toggle */
.sh-header {
    .navbar-toggle {
        &:hover {
            .toggle-icon {
                background: $color-teal;

                &:before,
                &:after {
                    background: $color-teal;
                }
            }
        }
    }
}

.sidebar-trigger-shop-label {
    background: $color-teal;
}

/* Navbar Nav */
.sh-header {
    .navbar-nav {
        .nav-item-child {
            &.active {
                color: $color-teal;

                &:hover {
                    color: $color-teal;
                }
            }

            &:hover,
            &:focus {
                color: $color-teal;
            }
        }
    }
}

/* Dropdown Menu */
.sh-header {
    .dropdown-menu {
        .dropdown-menu-item {
            .dropdown-menu-item-child {
                &.active {
                    color: $color-teal;

                    &:hover {
                        color: $color-teal;
                    }
                }

                &:hover {
                    background: $color-teal;
                }
            }

            &.active {
                .dropdown-menu-item-child {
                    color: $color-teal;
                }
            }
        }
    }
}

/* Dropdown Submenu */
.sh-header {
    .dropdown-submenu {
        &:hover {
            .dropdown-submenu-child {
                color: $color-teal;
            }
        }

        .dropdown-submenu-child {
            &.active {
                color: $color-teal;

                &:hover {
                    color: $color-teal;

                    &:after {
                        color: $color-teal;
                    }
                }
            }

            &:hover {
                background: $color-teal;
            }
        }

        &.active {
            .dropdown-submenu-child {
                color: $color-teal;

                &:hover {
                    color: $color-teal;
                }
            }
        }
    }
}

/* Mega Menu */
.sh-header {
    .mega-menu-list {
        .mega-menu-child {
            &.active {
                color: $color-teal;

                &:hover {
                    color: $color-teal;
                }
            }

            &:hover {
                background: $color-teal;
            }
        }
    }
}

/* Media Queries below 991px */
@media (max-width: $screen-sm-max) {
    /* Navbar Nav */
    .sh-header {
        .navbar-nav {
            .nav-item-bg {
                .nav-item-child {
                    background: $color-teal;
                }
            }
        }
    }
}

/* Media Queries below 991px */
@media (min-width: $screen-sm-max) {
    /* Navbar */
    .sh-header {
        .navbar-nav {
            .nav-item {
                .dropdown-menu {
                    border-top-color: $color-teal;
                }
            }

            .nav-item-bg {
                .nav-item-child {
                    background: $color-teal;
                }
            }
        }
    }
}