/*------------------------------------------------------------------
    [Blue Color Theme]
------------------------------------------------------------------ */

a {
  color: #536dfe;
}

a:focus, a:hover, a:active {
  color: #536dfe;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #536dfe;
}

/* Read More */
.read-more-op-b:hover {
  color: #536dfe;
}

.read-more-op-b:hover:before {
  background: #536dfe;
}

/* Read More White */
.read-more-op-b.read-more-white-op-b {
  color: #fff;
}

.read-more-op-b.read-more-white-op-b:before {
  background: #fff;
}

/*--------------------------------------------------
    [Header One Page Business]
----------------------------------------------------*/
/* Navbar Toggle */
.op-b-header .navbar-toggle:hover .icon-bar {
  background: #536dfe;
}

/* Language */
.op-b-header .nav-language-list-link {
  color: #536dfe;
  background: rgba(83, 109, 254, 0);
}

.op-b-header .nav-language-list-link:hover {
  color: #536dfe;
  background: rgba(83, 109, 254, 0.1);
}

.op-b-header .nav-language-list-link.active {
  background: rgba(83, 109, 254, 0.4);
}

/* Nav */
.op-b-header .nav-item .nav-item-child:hover, .op-b-header .nav-item .nav-item-child:focus {
  color: #536dfe;
}

.op-b-header .nav-item .nav-item-child:hover:before, .op-b-header .nav-item .nav-item-child:focus:before {
  background: #536dfe;
}

.op-b-header .nav-item.active .nav-item-child {
  color: #536dfe;
}

.op-b-header .nav-item.active .nav-item-child:before {
  background: #536dfe;
}

.op-b-header .nav-item.active .nav-item-child:hover, .op-b-header .nav-item.active .nav-item-child:focus {
  color: #536dfe;
}

/* Media Queries below 991px */
@media (max-width: 991px) {
  /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
  .op-b-header .nav-language-list {
    border-color: rgba(83, 109, 254, 0.5);
  }
  .op-b-header .nav-language-list-link {
    color: #536dfe;
  }
  .op-b-header .nav-language-list-link:hover {
    background: rgba(83, 109, 254, 0.5);
  }
  .op-b-header .nav-language-list-link.active {
    background: rgba(83, 109, 254, 0.6);
  }
  /* Nav */
  .op-b-header .nav-item .nav-item-child:hover {
    color: #536dfe;
  }
  .op-b-header .nav-item.active .nav-item-child {
    color: #536dfe;
  }
  .op-b-header .nav-item.active .nav-item-child:before {
    background: #536dfe;
  }
  .op-b-header .nav-item.active .nav-item-child:hover, .op-b-header .nav-item.active .nav-item-child:focus {
    color: #536dfe;
  }
  .op-b-header .nav-item .nav-item-child:hover:before, .op-b-header .nav-item .nav-item-child:focus:before {
    background: #536dfe;
   }
}

/* Media Queries above 992px */
@media (min-width: 992px) {
  .header-shrink.op-b-header .nav-item .nav-item-child:hover, .header-shrink.op-b-header .nav-item .nav-item-child:focus {
    color: #536dfe;
  }
  .header-shrink.op-b-header .nav-item .nav-item-child:hover:before, .header-shrink.op-b-header .nav-item .nav-item-child:focus:before {
    background: #536dfe;
  }
  .header-shrink.op-b-header .nav-item.active .nav-item-child {
    color: #536dfe;
  }
  .header-shrink.op-b-header .nav-item.active .nav-item-child:before {
    background: #536dfe;
  }
  .header-shrink.op-b-header .nav-item.active .nav-item-child:hover, .header-shrink.op-b-header .nav-item.active .nav-item-child:focus {
    color: #536dfe;
  }
  .header-shrink.op-b-header .nav-language-list {
    border-color: rgba(83, 109, 254, 0.5);
  }
  .header-shrink.op-b-header .nav-language-list-link {
    color: #536dfe;
  }
  .header-shrink.op-b-header .nav-language-list-link:hover {
    background: rgba(83, 109, 254, 0.5);
  }
  .header-shrink.op-b-header .nav-language-list-link.active {
    background: rgba(83, 109, 254, 0.6);
  }
}

/*--------------------------------------------------
    [Header One Page Business White Semi Transparent]
----------------------------------------------------*/
/* Media Queries above 992px */
@media (min-width: 992px) {
  /* Shrink Language */
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-language-list {
    border-color: rgba(83, 109, 254, 0.4);
  }
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-language-list-link {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-language-list-link:hover {
    background: rgba(83, 109, 254, 0.1);
  }
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-language-list-link.active {
    color: #fff;
    background: rgba(83, 109, 254, 0.3);
  }
  /* Shrink Nav */
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-item .nav-item-child:hover {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-item .nav-item-child:hover:before {
    background: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-item.active .nav-item-child {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white-semi-transprent .nav-item.active .nav-item-child:before {
    background: #536dfe;
  }
}

/*--------------------------------------------------
    [Header One Page Business Dark Semi Transparent]
----------------------------------------------------*/
/* Language */
.op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link:hover {
  color: #536dfe;
}

.op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link.active {
  color: #536dfe;
}

/* Media Queries above 992px */
@media (max-width: 992px) {
  /* Language */
  .op-b-header.op-b-header-dark-semi-transprent .nav-language-list {
    border-color: rgba(83, 109, 254, 0.4);
  }
  .op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link {
    color: #536dfe;
  }
  .op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link:hover {
    color: #536dfe;
  }
  .op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link.active {
    background: rgba(83, 109, 254, 0.4);
  }
}

/* Media Queries above 992px */
@media (min-width: 992px) {
  /* Nav */
  .op-b-header.op-b-header-dark-semi-transprent .nav-item.active .nav-item-child {
    color: #536dfe;
  }
  .op-b-header.op-b-header-dark-semi-transprent .nav-item.active .nav-item-child:before {
    background: #536dfe;
  }
  /* Shrink Language */
  .header-shrink.op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-dark-semi-transprent .nav-language-list-link.active {
    background: rgba(83, 109, 254, 0.4);
  }
  /* Shrink Language */
  .header-shrink.op-b-header.op-b-header-dark-semi-transprent .nav-item .nav-item-child:hover {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-dark-semi-transprent .nav-item .nav-item-child:hover:before {
    background: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-dark-semi-transprent .nav-item.active .nav-item-child {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-dark-semi-transprent .nav-item.active .nav-item-child:before {
    background: #536dfe;
  }
}

/*--------------------------------------------------
    [Header One Page Business White]
----------------------------------------------------*/
/* Media Queries above 992px */
@media (min-width: 992px) {
  /* Shrink Nav */
  .header-shrink.op-b-header.op-b-header-white .nav-item .nav-item-child:hover {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white .nav-item .nav-item-child:hover:before {
    background: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white .nav-item.active .nav-item-child {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white .nav-item.active .nav-item-child:before {
    background: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white .nav-item.active .nav-item-child:hover {
    color: #536dfe;
  }
  /* Shrink Language */
  .header-shrink.op-b-header.op-b-header-white .nav-language-list-link {
    color: #536dfe;
  }
  .header-shrink.op-b-header.op-b-header-white .nav-language-list-link.active {
    background: rgba(83, 109, 254, 0.4);
  }
}


/* Buttons Dropdown Default */
.btn-dropdown-group.open .btn-dropdown-toggle {
  background: #536dfe;
}

.btn-dropdown-group:hover .btn-dropdown-toggle {
  background: #536dfe;
}

/* Button Base Color */
.btn-green {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  color: #536dfe;
  text-align: center;
  background: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-green:focus, .btn-green:active:focus, .btn-green.active:focus, .btn-green.focus, .btn-green:active.focus, .btn-green.active.focus {
  outline: none;
}

.btn-green:hover {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-green:hover, .btn-green:focus, .btn-green.focus {
  color: #fff;
  background: #536dfe;
  border-color: #536dfe;
  text-decoration: none;
}

.btn-green:active, .btn-green.active {
  background-image: none;
  outline: 0;
}

.btn-green.disabled, .btn-green[disabled],
fieldset[disabled] .btn-green {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-green .btn-base-element-xs {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 4px 9px;
}

.btn-green .btn-base-element-sm {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 7px 11px;
}

.btn-green .btn-base-element-md {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 8px 13px;
}

.btn-green .btn-base-element-lg {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 10px 15px;
}

/* Buttons Border Base Color */
.btn-green-brd {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  color: #536dfe;
  text-align: center;
  background: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #536dfe;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-green-brd:focus, .btn-green-brd:active:focus, .btn-green-brd.active:focus, .btn-green-brd.focus, .btn-green-brd:active.focus, .btn-green-brd.active.focus {
  outline: none;
}

.btn-green-brd:hover {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-green-brd:hover, .btn-green-brd:focus, .btn-green-brd.focus {
  color: #fff;
  background: #536dfe;
  border-color: #536dfe;
  text-decoration: none;
}

.btn-green-brd:active, .btn-green-brd.active {
  background-image: none;
  outline: 0;
}

.btn-green-brd.disabled, .btn-green-brd[disabled],
fieldset[disabled] .btn-green-brd {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-green-brd .btn-base-element-xs {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 4px 9px;
}

.btn-green-brd .btn-base-element-sm {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 7px 11px;
}

.btn-green-brd .btn-base-element-md {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 8px 13px;
}

.btn-green-brd .btn-base-element-lg {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #3f5cfe;
  padding: 10px 15px;
}

/* Button Background Base Color */
.btn-green-bg {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  background: #536dfe;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-green-bg:focus, .btn-green-bg:active:focus, .btn-green-bg.active:focus, .btn-green-bg.focus, .btn-green-bg:active.focus, .btn-green-bg.active.focus {
  outline: none;
}

.btn-green-bg:hover {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-green-bg:hover, .btn-green-bg:focus, .btn-green-bg.focus {
  color: #fff;
  background: #687ffa;
  border-color: transparent;
  text-decoration: none;
}

.btn-green-bg:active, .btn-green-bg.active {
  background-image: none;
  outline: 0;
}

.btn-green-bg.disabled, .btn-green-bg[disabled],
fieldset[disabled] .btn-green-bg {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-green-bg .btn-base-element-xs {
  position: absolute;
  top: 0;
  right: 0;
  background: #3f5cfe;
  border-left: 1px solid transparent;
  padding: 4px 9px;
}

.btn-green-bg .btn-base-element-sm {
  position: absolute;
  top: 0;
  right: 0;
  background: #3f5cfe;
  border-left: 1px solid transparent;
  padding: 7px 11px;
}

.btn-green-bg .btn-base-element-md {
  position: absolute;
  top: 0;
  right: 0;
  background: #3f5cfe;
  border-left: 1px solid transparent;
  padding: 8px 13px;
}

.btn-green-bg .btn-base-element-lg {
  position: absolute;
  top: 0;
  right: 0;
  background: #3f5cfe;
  border-left: 1px solid transparent;
  padding: 11px 15px;
}

/* Background Color Green */
.bg-color-green {
  background: #536dfe !important;
}

/* Promo Block One Page Business v4 */
.op-b-promo-b-v4 .op-b-promo-b-v4-no {
  color: #3f5cfe;
}

/* Promo Block One Page Business v6 */
.op-b-promo-b-v6 .op-b-promo-b-v6-media-player:hover {
  background: #3f5cfe;
}

/* Promo Block One Page Business v9 */
.op-b-promo-b-v9 .op-b-promo-b-v9-subtitle {
  color: #3f5cfe;
}

/* Promo Block One Page Business v13 */
.op-b-promo-b-v13 .op-b-promo-b-v13-title {
  color: #3f5cfe;
}

.op-b-promo-b-v13 .op-b-promo-b-v13-icon:hover {
  background: #3f5cfe !important;
}